.bouton-bleu{
	background-color: rgb(55, 114, 255);
	padding: 10px 15px;
	border-radius: 5px;
	color: rgb(230, 232, 230);
	font-weight: bold;
	font-family: "Lato";
}

.bouton-bleu:hover{
	background-color: rgb(230, 232, 230);
	color: rgb(55, 114, 255);
}

