@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/bouton.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: "Lato";
	font-size: 20px;
}

p{
	font-size: 15px;
	text-align: justify;
}

h1, h2, h3{
	font-family: "Raleway";
	font-weight: bold;
}
h1{
	font-size: 25px;
}
h2{
	font-size: 20px;
}

a{
	text-decoration: none;
}

.cards{
	display: flex;
	flex-wrap: wrap;
}


